.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 999;
}

.header-logo img {
    height: 50px;
    width: auto;
}

.header-nav {
    display: flex;
}

.header-nav a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text-color);
    transition: color 0.2s;
}

.header-nav a:hover {
    color: var(--enphasis-color);
}

.header-cta {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.2s;
    border: 2px solid var(--text-color);
}

.header-cta:hover {
    background-color: var(--enphasis-color);
}